body 
{
    background-color: black;
}

div
{
    color:#FFD700;
}
div.details
{
    color:white;
}
hr { width:100%; height:10px; background: #fff }
.vl  { width:1px  size= "500"; background:rgb(143, 15, 15)}

